# .env.example

# URL de conexão com o MongoDB
MONGODB_URL="mongodb://localhost:27017"

# Nome do banco de dados MongoDB
DB_NAME="rachinha"

# Chave secreta usada para assinar os tokens JWT
JWT_SECRET="alguma_chave_secreta"

# Caminho inicial do sistema
ROOT_PATH="/rachinha"

# Tempo de expiração do token de acesso em minutos
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Configurações para a API BMail
BMAIL_API_URL="site_api_bmail_aqui" 
BMAIL_CLIENT_ID="seu_client_id_aqui"  
BMAIL_CLIENT_SECRET="seu_client_secret_aqui" 

# Configurações para a API do Google
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
GOOGLE_REDIRECT_URI="http://localhost:8001/auth/google/callback"
GOOGLE_ANDROID_CLIENT_ID="YOUR_GOOGLE_ANDROID_CLIENT_ID"
GOOGLE_IOS_CLIENT_ID="YOUR_GOOGLE_IOS_CLIENT_ID"